<launch>
	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find melfa_description)/urdf/rv7fr-dh-floor.urdf.xacro'"/>
	<param name="robot_description_semantic" textfile="$(find rv7fr_dh_floor)/config/rv7fr.srdf"/>

  <!--node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
	<node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/-->
	
  <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false" args='-d $(find rv7fl_path_planner_moveit)/config/visualizing_collision.rviz' >
		<!--rosparam command="load" file="$(find rv7fr_dh_floor)/config/kinematics.yaml"/-->
  </node>

	<node pkg="tf2_ros" type="static_transform_publisher" name="virtual_joint_broadcaster_0" args="0 0 0 0 0 0 1  /my_frame /base"/>	

	<node name="visualizing_collision_node" pkg="rv7fl_path_planner_moveit" type="rv7_visualizing_collision_node" respawn="false" output="screen">
		<rosparam command="load" file="$(find rv7fr_dh_floor)/config/kinematics.yaml"/>
	</node>
</launch>
